USE [AutomotiveDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 03/11/2025 2:37:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[attempts] [int] NULL,
	[status] [varchar](10) NULL,
	[removeVerificationDate] [date] NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_History]    Script Date: 03/11/2025 2:37:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_History](
	[receiptID] [int] NOT NULL,
	[clientID] [int] NULL,
	[issue] [varchar](255) NULL,
	[repairedBy] [varchar](50) NULL,
	[amount] [decimal](8, 2) NULL,
	[warranty] [varchar](50) NULL,
	[date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[receiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 03/11/2025 2:37:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[clientID] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[vehicle] [varchar](50) NULL,
	[model] [varchar](50) NULL,
	[vehiclePhoto] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[clientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 03/11/2025 2:37:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[itemID] [int] NOT NULL,
	[itemName] [varchar](50) NULL,
	[price] [decimal](6, 2) NULL,
	[stock] [int] NULL,
	[itemImage] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passwords]    Script Date: 03/11/2025 2:37:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passwords](
	[id] [int] NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pending_Approvals]    Script Date: 03/11/2025 2:37:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pending_Approvals](
	[approvalID] [int] NOT NULL,
	[category] [varchar](50) NULL,
	[actionType] [varchar](20) NULL,
	[recordID] [int] NULL,
	[newData] [nvarchar](max) NULL,
	[oldData] [nvarchar](max) NULL,
	[requestedBy] [int] NULL,
	[requestedDate] [datetime] NULL,
	[status] [varchar](20) NULL,
	[remarks] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[approvalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Log]    Script Date: 03/11/2025 2:37:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Log](
	[logID] [int] NOT NULL,
	[tableName] [varchar](50) NULL,
	[recordID] [int] NULL,
	[actionType] [varchar](10) NULL,
	[newData] [nvarchar](max) NULL,
	[oldData] [nvarchar](max) NULL,
	[userID] [int] NULL,
	[status] [varchar](20) NULL,
	[dateRequested] [datetime] NULL,
	[dateApproved] [datetime] NULL,
	[approvedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([id], [email], [password], [name], [attempts], [status], [removeVerificationDate], [role]) VALUES (1, N'keanunael1123@gmail.com', N'User112@', N'keanu nael', 0, N'active', CAST(N'2025-10-25' AS Date), N'Admin')
INSERT [dbo].[Accounts] ([id], [email], [password], [name], [attempts], [status], [removeVerificationDate], [role]) VALUES (3, N'keanumiguelcasanovanael@gmail.com', N'User123@', N'John Doe Marasigan', 0, N'active', CAST(N'2025-10-25' AS Date), N'SalesRep')
INSERT [dbo].[Accounts] ([id], [email], [password], [name], [attempts], [status], [removeVerificationDate], [role]) VALUES (5, N'zandroewow@gmail.com', N'User123.', N'John Doe', 3, N'locked', CAST(N'2025-10-25' AS Date), N'SalesRep')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
INSERT [dbo].[Client_History] ([receiptID], [clientID], [issue], [repairedBy], [amount], [warranty], [date]) VALUES (4005482, 2008777, N'Broken Windshield', N'Jomar Olayvar', CAST(8600.00 AS Decimal(8, 2)), N'7Day(s)', CAST(N'2023-04-06' AS Date))
INSERT [dbo].[Client_History] ([receiptID], [clientID], [issue], [repairedBy], [amount], [warranty], [date]) VALUES (4009580, 2008777, N'No Wheels', N'', CAST(24000.00 AS Decimal(8, 2)), N'7Month(s)', CAST(N'2025-11-01' AS Date))
GO
INSERT [dbo].[Clients] ([clientID], [name], [vehicle], [model], [vehiclePhoto]) VALUES (2008777, N'Eric Valorant', N'Civic', N'Type R', N'C:\Users\Administrator\Downloads\hondacivic.png')
GO
INSERT [dbo].[Items] ([itemID], [itemName], [price], [stock], [itemImage]) VALUES (1004006, N'Shell Helix HX7 10W40 Engine Oil 1 Liter', CAST(450.00 AS Decimal(6, 2)), 120, N'C:\Users\Administrator\OneDrive - STI College Global City\Desktop\s-l1200.jpg')
GO
INSERT [dbo].[Passwords] ([id], [password]) VALUES (1, N'Keanu5368190@')
INSERT [dbo].[Passwords] ([id], [password]) VALUES (3, N'User123@')
INSERT [dbo].[Passwords] ([id], [password]) VALUES (1, N'User112@')
GO
INSERT [dbo].[Transaction_Log] ([logID], [tableName], [recordID], [actionType], [newData], [oldData], [userID], [status], [dateRequested], [dateApproved], [approvedBy]) VALUES (5002218, N'Items', 1004006, N'CREATE', N'{"itemID":1004006,"itemName":"Shell Helix HX7 10W40 Engine Oil 1 Liter","price":450.0,"stock":120,"itemImage":"C:\\Users\\Administrator\\OneDrive - STI College Global City\\Desktop\\s-l1200.jpg"}', NULL, 3, N'Approved', CAST(N'2025-10-30T22:58:25.807' AS DateTime), NULL, NULL)
INSERT [dbo].[Transaction_Log] ([logID], [tableName], [recordID], [actionType], [newData], [oldData], [userID], [status], [dateRequested], [dateApproved], [approvedBy]) VALUES (5002446, N'Client_History', 4009580, N'EDIT', N'{"receiptID":4009580,"clientID":2008777,"issue":"No Wheels","repairedBy":"","amount":24000,"warranty":"7Month(s)","date":"2025-11-01"}', NULL, 5, N'Approved', CAST(N'2025-11-01T15:22:29.110' AS DateTime), NULL, NULL)
INSERT [dbo].[Transaction_Log] ([logID], [tableName], [recordID], [actionType], [newData], [oldData], [userID], [status], [dateRequested], [dateApproved], [approvedBy]) VALUES (5003362, N'Client_History', 4005482, N'CREATE', N'{"receiptID":4005482,"clientID":2008777,"issue":"Broken Windshield","repairedBy":"Jomar Olayvar","amount":8600,"warranty":"7Day(s)","date":"2023-04-06"}', NULL, 5, N'Approved', CAST(N'2025-10-31T22:45:53.370' AS DateTime), NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__AB6E61647CB2FC2D]    Script Date: 03/11/2025 2:37:33 am ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [attempts]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Pending_Approvals] ADD  DEFAULT (getdate()) FOR [requestedDate]
GO
ALTER TABLE [dbo].[Pending_Approvals] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Transaction_Log] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Transaction_Log] ADD  DEFAULT (getdate()) FOR [dateRequested]
GO
ALTER TABLE [dbo].[Client_History]  WITH CHECK ADD FOREIGN KEY([clientID])
REFERENCES [dbo].[Clients] ([clientID])
GO
ALTER TABLE [dbo].[Passwords]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Pending_Approvals]  WITH CHECK ADD FOREIGN KEY([requestedBy])
REFERENCES [dbo].[Accounts] ([id])
GO
